<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Parents</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <br/><br/>
    <h3>Children</h3>
    <br/><br/>
    <table class="table table-bordered table-striped" id="employeeTable">

        <thead>
        <tr>
            <th>Id</th>
            <th>Sender</th>
            <th>Reciver</th>
            <th>Total Amount</th>
            <th>Paid Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="child: ${children}">
            <td th:text="${child.id}" />
            <td th:text="${child.sender}" />
            <td th:text="${child.receiver}" />
            <td th:text="${child.totalAmount}" />
            <td th:text="${child.paidAmount}" />

        </tr>
        </tbody>

    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>

</script>
</body>

</html>